@mixin range-slider-attr {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2dc36a;
  cursor: pointer;
}

// Range slider input
.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #d3d3d3;
  outline: none;
  opacity: 0.75;
  -webkit-transition: 0.2ms;
  transition: opacity 0.2ms;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include range-slider-attr;
  }

  &::-moz-range-thumb {
    @include range-slider-attr;
  }
}

// Switch slider input
.switch-slider {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  width: 60px;
  height: 30px;

  .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 22px;
      left: 5px;
      bottom: 5px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  .checkbox:checked + .slider {
    background-color: #2dc36a;
  }

  .checkbox:checked + .slider:before {
    transform: translateX(25px);
  }
}

// Color picker input
.color-picker {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 0.5rem;
  border: 1px #ccc solid;

  .color-text {
    border-style: none;
    padding: 7px 10px;
    outline: none;
    width: 150px;
    font-size: 16px;
  }

  .color-chooser {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    border-style: none;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }
}

.function-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  .custom-container {
    width: 35%;

    .header {
      padding: 0.5rem 0;
      background-color: #2dc36a;
      color: #fff;
      font-weight: 500;
      text-align: center;
    }

    .custom-list {
      border: 1px #ccc solid;
      padding: 1rem;
      list-style-type: none;

      .custom-item {
        margin-bottom: 0.75rem;

        &:last-child {
          margin-bottom: 0;
        }

        .meta {
          display: flex;
          justify-content: space-between;

          label {
            font-size: 0.9rem;
          }

          .value {
            color: #2dc36a;
            font-size: 0.9rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;

    .preview {
      .test-box {
        width: 300px;
        height: 200px;
        background-color: #2dc36a;
      }
    }

    .output {
      width: 100%;

      .text {
        width: 90%;
        margin: 0 auto 0.75rem;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;
        background-color: #eee;
        font-family: Consolas, sans-serif;
        font-size: 0.9rem;
      }

      .copy {
        display: block;
        margin: 0 auto;
        border-style: none;
        border-radius: 5px;
        padding: 0.5rem 0.75rem;
        background-color: #2dc36a;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 960px) {
  .function-container {
    flex-direction: column;

    .custom-container {
      width: 95%;
      margin: 0 auto 1.5rem;
    }

    .result-container {
      width: 95%;
      margin: 0 auto;

      .preview {
        margin-bottom: 1.5rem;
      }

      .output {
        .text {
          width: 100%;
        }
      }
    }
  }
}